<h1>Team <%= @team.name %></h1>
<ul>
<% @team.users.each do |player| %>
  <li><%= link_to player.leaguename, user_path(player) %></li>
<% end %>
</ul>
<table class="table">
  <tr>
    <th scope="col">Role</th>
    <th scope="col">Best</th>
    <th scope="col">Win %</th>
    <th scope="col">Wins</th>
    <th scope="col">Losses</th>
    <th scope="col">Total</th>
  </tr>
  <% @best.each do |lane| %>
    <tr>
      <td scope="col"><%= lane.role %></td>
      <td scope="col"><%= lane.name %></td>
      <td scope="col"><%= lane.percent %></td>
      <td scope="col"><%= lane.wins %></td>
      <td scope="col"><%= lane.losses %></td>
      <td scope="col"><%= lane.total %></td>
    </tr>
  <% end %>
</table>
<div>
  <%= link_to "MinGames", team_path(@team) %>
  <%= form_tag :teams, method: :get, class: "form-inline" do %>
    <div class="form-group search-field">
      <%= text_field_tag :min, @min_games.to_s, class: "form-control" %>
      <%= submit_tag "Min Games", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
