<h1>Team <%= @team.name %></h1>
<div>
  <%= form_tag team_path(@team), method: :get, class: "form-inline" do %>
    <div class="form-group search-field">
      <%= submit_tag "update", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<ul>
<% @team.users.each do |player| %>
  <li><%= link_to player.leaguename, user_path(player) %></li>
<% end %>
</ul>
<table class="table">
  <tr>
    <th scope="col">Role</th>
    <th scope="col">Best</th>
    <th scope="col">Win %</th>
    <th scope="col">Wins</th>
    <th scope="col">Losses</th>
    <th scope="col">Total</th>
  </tr>
  <% @best.each do |lane| %>
    <tr>
      <td scope="col"><%= lane.role %></td>
      <td scope="col"><%= lane.name %></td>
      <td scope="col"><%= lane.percent %></td>
      <td scope="col"><%= lane.wins %></td>
      <td scope="col"><%= lane.losses %></td>
      <td scope="col"><%= lane.total %></td>
    </tr>
  <% end %>
</table>
<div>
  <%= form_tag team_path(@team), method: :get, class: "form-inline" do %>
    <div class="form-group search-field">
      <%= text_field_tag :min, @min_games.to_s, class: "form-control" %>
      <%= submit_tag "Minimum Games", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br>
<h3>Custom Team Stats</h3>
<div>
  <%= form_tag team_path(@team), method: :get, class: "form-inline" do %>
    <div class="form-group search-field">
      <%= label_tag 'top' %>
      <%= collection_select nil, "top", @team.users, :id, :leaguename, include_blank: true %>
      <%= label_tag 'mid' %>
      <%= collection_select nil, "mid", @team.users, :id, :leaguename, include_blank: true %>
      <%= label_tag 'jun' %>
      <%= collection_select nil, "jun", @team.users, :id, :leaguename, include_blank: true %>
      <%= label_tag 'adc' %>
      <%= collection_select nil, "adc", @team.users, :id, :leaguename, include_blank: true %>
      <%= label_tag 'sup' %>
      <%= collection_select nil, "sup", @team.users, :id, :leaguename, include_blank: true %>
      <%= submit_tag "custom", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<% if @custom %>
  <ul>
    <li>Wins <%= @custom[:wins] %></li>
    <li>Losses <%= @custom[:losses] %></li>
    <li>Total Games <%= @custom[:total] %></li>
    <li>Win Percentage <%= @custom[:percent].round(2) %>%</li>
  </ul>
<% end %>
<br>
<h3>Any Position Team Stats</h3>
<div>
  <%= form_tag team_path(@team), method: :get, class: "form-inline" do %>
    <div class="form-group search-field">
      <%= collection_select nil, "p1", @team.users, :id, :leaguename, include_blank: true %>
      <%= collection_select nil, "p2", @team.users, :id, :leaguename, include_blank: true %>
      <%= collection_select nil, "p3", @team.users, :id, :leaguename, include_blank: true %>
      <%= collection_select nil, "p4", @team.users, :id, :leaguename, include_blank: true %>
      <%= collection_select nil, "p5", @team.users, :id, :leaguename, include_blank: true %>
      <%= submit_tag "together", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<% if @together %>
  <ul>
    <li>Wins <%= @together[:wins] %></li>
    <li>Losses <%= @together[:losses] %></li>
    <li>Total Games <%= @together[:total] %></li>
    <li>Win Percentage <%= @together[:percent].round(2) %>%</li>
  </ul>
<% end %>
