<h2><%= @user.leaguename %></h2>
<h3>Solo Stats</h3>
<table>
  <tr>
    <th>Role</th>
    <th>Win %</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Total</th>
  </tr>
  <% @solo_stats.each do |lane| %>
    <tr>
      <td><%= lane.role %></td>
      <td><%= lane.percent %></td>
      <td><%= lane.wins %></td>
      <td><%= lane.losses %></td>
      <td><%= lane.total %></td>
    </tr>
  <% end %>
</table>

<h3>Flex Stats</h3>
<table>
  <tr>
    <th>Role</th>
    <th>Win %</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Total</th>
  </tr>
  <% @flex_stats.each do |lane| %>
    <tr>
      <td><%= lane.role %></td>
      <td><%= lane.percent %></td>
      <td><%= lane.wins %></td>
      <td><%= lane.losses %></td>
      <td><%= lane.total %></td>
    </tr>
  <% end %>
</table>
